// --------------------------------------------------
// Config
// --------------------------------------------------

//
// Colors
// --------------------------------------------------

$strategic-objectives-palette: (
  neighborhood-improvement: #008542,
  housing: #857000,
  economic-development: #ad411d,
  resiliency-and-sustainability: #396a93,
  land-use-reviews: #f6b47d,
  data-and-expertise: #7363bc,
);
