// --------------------------------------------------
// Headings
// --------------------------------------------------

.header-xxlarge { @extend h1; }
.header-xlarge {  @extend h2; }
.header-large {   @extend h3; }
.header-medium {  @extend h4; }
.header-small {   @extend h5; }
.header-tiny {
  @extend h6;
  font-weight: $global-weight-normal;
  text-transform: uppercase;
}

p, h1, h2, h3, h4, h5, h6 {
  & + .header-tiny {
    margin-top: $global-margin * 2;
  }
}
