{% include head.html %}

<a class="show-on-focus" href="#main">Skip to main content</a>
<header role="banner" class="site-header">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell shrink large-auto">
        <a class="site-logo montserrat" href="{{ site.baseurl }}/">
          <img src="https://raw.githubusercontent.com/NYCPlanning/logo/master/dcp_logo_772.png" alt="NYC Planning">
          <span class="site-logo--l">L</span>
          <span class="site-logo--a">a</span>
          <span class="site-logo--b">b</span>
          <span class="site-logo--s">s</span>
        </a>
      </div>
      <div class="cell auto hide-for-large text-right">
        <button class="responsive-nav-toggler" data-toggle="responsive-menu">Menu</button>
      </div>
      <div id="responsive-menu" class="cell large-shrink show-for-large" data-toggler=".show-for-large">
        <nav role="navigation">
          {% include components/nav-menu.html %}
        </nav>
      </div>
    </div>
  </div>
</header>
