// --------------------------------------------------
// Layout index page
// --------------------------------------------------

.main {
  background-color: $white;
  padding-top: $global-margin*2;
  padding-bottom: $global-margin*2;

  //other elements
  //@include grid-column;
}
