// --------------------------------------------------
// Hero Module
// --------------------------------------------------

.hero {
  background-color: $primary-color;
  color: $white;
  margin: $global-margin*-2 0 $global-margin*2;
  padding: $global-margin*2 0;

  @include breakpoint(large) {
    padding: 4vw 0;
  }

  .header-large {
    color: get-color(secondary);
  }

  .button {
    @include button-style(darken($primary-color,10%), auto, get-color(secondary));
  }
  :last-child {
    margin-bottom: 0;
  }
}
