---
layout: blog
---

<!-- This loops through the paginated posts -->
{% for post in paginator.posts %}

  {% unless forloop.first %}
    <hr>
  {% endunless %}

  <span class="post-date">{{ post.date | date: '%B %d, %Y' }}</span>
  <h2 class="header-xlarge"><a href="{{ post.url }}">{{ post.title }}</a></h2>
  <p class="post-excerpt">{{ post.excerpt }}</p>
  <strong><a href="{{ post.url | prepend: site.baseurl }}">Continue reading&hellip;</a></strong>

{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
  <hr>
  <nav>
    <ul class="pagination">
      {% if paginator.previous_page %}
        <li class="arrow"><a href="{{ paginator.previous_page_path | replace: '/index.html', '' }}">&laquo;</a></li>
      {% else %}
        <li class="arrow unavailable"><a>&laquo;</a></li>
      {% endif %}

      {% for page in (1..paginator.total_pages) %}
        {% if page == paginator.page %}
          <li class="current">{{ page }}</li>
        {% elsif page == 1 %}
          <li><a href="{{ site.baseurl }}/blog/">{{ page }}</a></li>
        {% else %}
          <li><a href="{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a></li>
        {% endif %}
      {% endfor %}

      {% if paginator.next_page %}
        <li class="arrow"><a href="{{ paginator.next_page_path }}">&raquo;</a></li>
      {% else %}
        <li class="arrow unavailable"><a>&raquo;</a></li>
      {% endif %}
    </ul>
  </nav>
{% endif %}
