---
layout: default
---

<div id="main" class="main blog-post">
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell large-8">
        <article>
          <h1>{{ page.title }}</h1>
          <span class="post-date">{{ page.date | date: '%B %d, %Y' }}</span>
          <div class="post-content">
            {{ content }}
          </div>
        </article>
      </div>
      <div class="cell large-4">
        {% include components/blog-sidebar.html %}
      </div>
    </div>
  </div>
</div>
