---
layout: default
---

<div id="main" class="main">
  <div class="hero">
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="cell">
          <h1 class="header-large">{{ page.title }}</h1>
          <p class="header-xlarge">{{ page.lead }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="cell medium-8">
        {{ content }}
      </div>
      <div class="cell medium-4">
        {% if page.customer %}
          <h6>Customer</h6>
          {{ page.customer | markdownify }}
        {% endif %}
        {% if page.project_url %}
          <h6>Website</h6>
          {{ page.project_url | markdownify }}
        {% endif %}
        {% if page.github_repo %}
          <h6>GitHub repo</h6>
          <a href="{{ page.github_repo }}">{{ page.github_repo | replace: "https://github.com/", "" }}</a>
        {% endif %}
      </div>
    </div>
  </div>

</div>
